// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body font-family: 'Fjalla One', sans-serif;
// header font-family: 'Rammetto One', cursive;

  .container{
    height: 100vh;
    width: 100vw;
  }

  .part-container{
    height: 40vh;
    width: 100vw;
  }

  .home{
    background-image: url('kangchon_hero_native_small.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  div.nav-div-small{
    position: fixed;
    width: 100%;
    margin-top: 20px;
  }

  div.nav-div{
    display: none;
  }

  nav.small{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  span.home-nav{
    font-family: 'Rammetto One', cursive;
  }

  ul.tabs{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
  }

  .bar-icon{
    color: #F0F66E;
    cursor: pointer;
  }

  .bar-icon:active{
    color: #E4572E;
  }

  .dropdown-list{
    display: none;
  }

  .logo-nav{
    width: 130px;
    height: auto;
  }
