// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body font-family: 'Fjalla One', sans-serif;
// header font-family: 'Rammetto One', cursive;

.container{
  height: 100vh;
  width: 100vw;
}

footer{
  height: 30vh;
  width: auto;
  border-top-style: solid;
  border-color: #E4572E;
  border-width: 20px;
  background-color: #7B9162;
}

.small-block{
  background-color: #F0F8EA;
  height: auto;
}

.part-container{
  height: 30vh;
  width: 100%;
}

.home{
  background-image: url('kangchon_hero_native_small.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

div.nav-div-small{
  position: fixed;
  width: 100%;
  padding-top: 10px;
}

div.nav-div{
  display: none;
}

nav.small{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

span.home-nav{
  font-family: 'Rammetto One', cursive;
}

ul.tabs{
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  list-style: none;
}

ul.tabs li{
  padding-top: 24px;
  text-align: right;
}

ul.tabs a{
  text-decoration: none;
  color: #A64022;
  font-size: 18px;
}

.bar-icon{
  margin-bottom: 15px;
  float: right;
  color: #F0F66E;
  cursor: pointer;
}

.bar-icon:active{
  color: #E4572E;
}

.logo-nav{
  width: 130px;
  height: auto;
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.small-block{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #E4572E;
  border-width: 20px;
  padding-bottom: 30px;
}

.fav-foods{
  background-image: url('cuttingboard.jpg');
  // background-repeat: no-repeat;
  background-size: 100%;
  // height: 100vh;
  height: auto;
  width: 100vw;
}

.thumbnails{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
}

.thumbnail{
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
}

span.caption{
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  background-color: #F0F66E;
}

.thumbnail img {
  border-radius: 5px;
  width: 150px;
}

.img-thumbnail{
  width: 25%;
  height: 25%;
}

div.fav-foods-label{
  padding-top: 24px;
  text-align: center;
}

div.fav-foods-label h2{
  color: #333333;
  margin-top: 0px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
}
div.mini-block{
  height: auto;
  padding-top: 1%;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

div.mini-block h3{
  color: #333333;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: bold;
}

div.mini-block p.special-p{
  color: #333333;
  font-size: 24px;
  margin-bottom: 0px;
}

div.mini-block p.exclusion{
  color: #333333;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 2px;
}

footer div{
  margin: 0 auto;
  // width: 100%;
  // height: auto;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

footer .fa{
  color: #F0F66E;
  padding-left: 20px;
  padding-right: 20px;
}

footer p{
  font-size: 16px;
}

div.social-info{
  margin-top: 10px;
}

p.footer-address1{
  margin-top: 10px;
  margin-bottom: 0;
}

p.footer-address2{
  margin-top: 0;
  margin-bottom: 0;
}

p.footer-phone{
  margin-top: 0;
  margin-bottom: 0;
}

p.footer-hours{
  margin-top: 0;
}
