@media all and (min-width: 897px) {
  nav{
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // background-color: #F0F8EA;
    background-color: rgba(240, 248, 234, .7);
    width: 720px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.7);
    box-shadow: 1px 2px 3px rgba(0,0,0,.7);
    // border-radius: 20px;
  }

  .home{
    background-image: url('kangchon_hero_native.jpg');
  }

  ul.tabs{
    margin-left: 0;
    padding-left: 0;
  }

  ul.tabs li{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    display: inline-block;
    padding-top: 19px;
  }

  nav.large a{
    text-decoration: none;
    color: #E4572E;
  }

  nav.large a:hover{
    color: #9D9C62;
  }

  div.nav-div{
    display: block;
    position: fixed;
    width: 100%;
  }

  div.nav-div-small{
    display: none;
  }

  span.online-nav{
    background-color: #F0F66E;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin: 17px 5px 13px 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
  }

  span.home-nav{
    font-size: 30px;
  }

  .logo-nav{
    width: 80px;
    height: 100%;
    padding-top: 5px;
    // padding-bottom: 20px;
  }

  span.online-nav{
    background-color: #F0F66E;
    font-family: 'Fjalla One', sans-serif;
  }

  .thumbnails{
    height: 95%;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3%;
  }

  .thumbnail img {
    border-radius: 5px;
    width: 230px;
  }

  .img-thumbnail{
    width: 50%;
    height: 50%;
  }

  span.caption{
    font-size: 27px;
  }

  div.fav-foods-label h2{
    font-size: 50px;
  }

  div.mini-block h3{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  div.mini-block p.special-p{
    margin-top: 0;
    font-size: 32px;
  }

  div.mini-block p.exclusion{
    font-size: 20px;
  }

}


// @media only screen and (min-width : 500px) and (max-width : 768px) {
//   nav{
//     display: none;
//   }
// }
